@if (ViewBag.sortBy == ViewBag.columnName && ViewBag.sortOrder == nameof(SortOrderOptions.Ascending))
{
    <th>
        <a href="~/persons/index?searchBy=@(ViewBag.searchBy)&searchString=@(ViewBag.searchString)&sortBy=@(ViewBag.columnName)&sortOrder=@(nameof(SortOrderOptions.Descending))">
            @(ViewBag.displayName)
            <i class="fa-solid fa-sort-up"></i>
        </a>
    </th>
}
else
{
    <th>
        <a href="~/persons/index?searchBy=@(ViewBag.searchBy)&searchString=@(ViewBag.searchString)&sortBy=@(ViewBag.columnName)&sortOrder=@(nameof(SortOrderOptions.Ascending))">
            @(ViewBag.displayName)
            @if (ViewBag.sortBy == ViewBag.columnName)
            {
                <i class="fa-solid fa-sort-down"></i>
            }
        </a>
    </th>
}