@model IEnumerable<string>
@inject ICitiesService citiesService /* usually a configuration service is injected into a view */
@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

<h2>Cities</h2>

<ul class="list">
    @foreach (string city in Model)
    {
        <li>@city</li>
    }
</ul>

<ul class="list">
    @foreach (string city in citiesService.GetCities())
    {
        <li>@city</li>
    }
</ul>