@model PersonResponse
@{
    ViewBag.Title = "Delete Person";
}

<h2>Delete Person</h2>

<div class="w-50">
    <form asp-controller="Persons" asp-action="Delete" method="post">
        <input type="hidden" asp-for="PersonID" />
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" readonly disabled/>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-red-back">Delete</button>
                <a asp-controller="Persons" asp-action="Index" class="link-hover">Back to Persons list</a>
            </div>
        </div>
    </form>
</div>