@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>
@*
@{
    PersonGridModel personGridModel = new PersonGridModel()
            {
                GridTitle = "People",
                People = new()
                {
                    new Person() {PersonName = "John", JobTitle = "Manager"},
                    new Person() {PersonName = "Bies", JobTitle = "Asst. Manager"},
                    new Person() {PersonName = "Lourante", JobTitle = "Kapıcı"},
                }
            };
}

@await Component.InvokeAsync("Grid", new {model = personGridModel})*@

<div id="FriendsViewModel"></div>

<button class="button button-blue-back" id="load-friends-button">Load Friends</button>

<script src="~/friends.js"></script>